*{
  color: white;
}

body{
  background-repeat: no-repeat;
  background-image: url("assets/background-0.png");
  background-size: cover;
  background-attachment: fixed;

}

a{
  color: black;
}

a:hover{
  color: purple;
}

em {
  color: black;
  font-weight: lighter;
  font-family: serif;
}

img{
  width: 300px;
}

/* audio{
  padding-left: 12%;
} */

table, tr, th, td{
  width: 11%;
  max-width: 100%;
  text-align: justify;
  color: black;
}

table{
  width: 50%;
  margin: 0 25%;
  padding: 0;
  background-size: cover;
  background-color: #56470f;
  background-image: url("assets/background-1.png");
  background-blend-mode: hue;
}


tbody{
  float:left;
}

video{
  width: 320px;
  height: 240px;
}

td{
  background-color: rgba(255, 255, 255, 0.88);
  color: black;
  font-family: sans-serif;
  padding: 2px 7px;
}


h5, .intro, th{
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}


.intro em{
  color: white;
}

.intro img{
  box-shadow: 3px 3px 4px #706e6e, 3px 3px 8px #000000;
  border-radius: 1.25%;
}


.iPic{
  width: 35%;
  height: 35%;
}

.th1, .th2, .th3{
  background-color: #E0C046;
}


.img-sect, .video-sect{
  margin-top: 1%;
}

.sound-sect{
  background-image: url("assets/bat.jpg");
  background-size: cover;
  background-clip: content-box;
}

.img-sect{
  background-image: url("assets/dna_2.jpg");
  background-size: cover;
}

.video-sect{
  background-image: url("assets/2W5A8986-1.jpg");
  background-size: cover;
}

.th1{
  float: left;
  border-top-left-radius: 10px;
  width: 230px;

}

.th2{
  width: 57%;
}

.th3{
  width: 50%;
  border-top-right-radius: 10px;
}

.em-src{
  font-size: 11px;
  padding: auto auto 0 auto;
  font-weight: bold;
}

.t-img{
  display: block;
}

.summary-sect{
  position: relative;
  background-color: rgba(255, 255, 255, 0.68);
  text-align: justify;
  margin: 0 24.7vw;
  margin-top: 35px;
  border: 1px solid black;
  font-size: min(0.9vw, 1em);
}

.summary-sect h2, .p-sum{
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}

#PMB{
  text-align: center;
  padding-left: 20px;
}
